SCOUTER_VERSION=2.17.1
SC_SERVER_ID=SCCOUTER-COLLECTOR
NET_HTTP_SERVER_ENABLED=true
NET_HTTP_API_SWAGGER_ENABLED=true
NET_HTTP_API_ENABLED=true
MGR_PURGE_PROFILE_KEEP_DAYS=2
MGR_PURGE_XLOG_KEEP_DAYS=5
MGR_PURGE_COUNTER_KEEP_DAYS=15
JAVA_OPT=-Xms1024m -Xmx1024m
